@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
}

body{
    padding-top: 56px;
}

.logo {
    height: 40px;
}

.details-list {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px 10px;
    align-items: start;
}

.details-list li {
    display: contents;
}

.details-label {
    font-weight: bold;
    white-space: nowrap;
}

#imagePreview {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    max-width: 50%;
    display: none;
}

.team-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Ensure the sidebar stays fixed on the page */
#filterSidebar {
    position: sticky;
    top: 80px;
    z-index: 1000;
}

/* Adjust the height for better UX */
.main-content-section {
    padding-top: 100px;
}

/* Custom styles for the review section */
.review {
    display: flex;
    align-items: flex-start;
}

.review-img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-right: 15px;
}

.review .media-body {
    flex-grow: 1;
}

/* Contact Us */
.contact-section {
    padding-top: 100px;
}

.contact-section h2 {
    font-weight: bold;
}

.contact-section ul {
    font-size: 1.1em;
}

.contact-section ul li {
    margin-bottom: 10px;
}

.contact-section ul li i {
    margin-right: 10px;
    color: #007bff;
}

.contact-section iframe {
    border-radius: 5px;
    margin-top: 20px;
}

.contact-section .form-control {
    margin-bottom: 20px;
}

/* Login */
.login-section {
    padding-top: 100px;
}

.login-section h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.login-section .form-control {
    margin-bottom: 20px;
}

.login-section .btn-block {
    width: 100%;
}

.login-section .text-center {
    margin-top: 20px;
}

.login-section .text-center a {
    color: #007bff;
    text-decoration: none;
}

.login-section .text-center a:hover {
    text-decoration: underline;
}

/* Privacy Policy */
.privacy-policy-section {
    padding-top: 100px;
}

.privacy-policy-section h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.privacy-policy-section h3 {
    margin-top: 30px;
    font-weight: bold;
}

.privacy-policy-section p, .privacy-policy-section ul {
    margin-bottom: 20px;
}

.privacy-policy-section ul {
    padding-left: 20px;
}

.privacy-policy-section ul li {
    margin-bottom: 10px;
}

/* Terms and Condition */
.terms-section {
    padding-top: 100px;
}

.terms-section h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.terms-section h3 {
    margin-top: 30px;
    font-weight: bold;
}

.terms-section p, .terms-section ul {
    margin-bottom: 20px;
}

.terms-section ul {
    padding-left: 20px;
}

.terms-section ul li {
    margin-bottom: 10px;
}