@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
	font-family: "Ubuntu", sans-serif;
}

body{
	padding-top: 65px;
}

.logo{
	height: 40px;
}

.details-list{
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 5px 10px;
	align-items: start;
}

.details-list li{
	display: contents;
}

.details-label{
	font-weight: bold;
	white-space: nowrap;
}

.media img{
	width: 64px;
	height: 64px;
	object-fit: cover;
}

.media-body h5{
	font-weight: bold;
}

/* Contact Us */
.contact-section ul{
	font-size: 1.1rem;
}

.contact-section ul li i{
	margin-right: 10px;
}

.contact-section iframe{
	border-radius: 10px;
}

/* Login */
.login-section .btn-block{
	width: 100%;
}

.login-section div.text-center{
	margin-top: 20px;
}

.login-section div.text-center a{
	color: #007bff;
	text-decoration: none;
}

/* Register */
.register-section div.text-center{
	margin-top: 20px;
}

/*ALL ISP Side Bar*/
#filterSidebar{
	position: sticky;
	top: 80px;
	z-index: 1000;
}

#imagePreview{
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 10px;
	padding-top: 5px;
	max-width: 60%;
	display: none;
}