body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #007bff, #0056b3);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-app {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  margin-bottom: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#weatherInfo {
  margin-top: 20px;
}

.hidden {
  display: none;
}

#cityName {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#icon-container {
  text-align: center;
  margin-bottom: 20px;
}

#weatherIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.info p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  margin: 10px 0;
}

.info p i {
  margin-right: 10px;
  font-size: 20px;
}
